@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap");
* {
  font-family: "Quicksand", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navBar {
  width: 100%;
  padding-left: 1%;
  padding-right: 1%;
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.navBar i{
  color: #0c1753;
  display: none;
}
.logo {
  width: 150px;
}
nav {
  flex: 1;
  text-align: right;
  margin-bottom: 20px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin-right: 30px;
}
nav ul li a {
  text-decoration: none;
  color: #0c1753;
  font-size: large;
}
nav ul li a:hover {
  color: #00a69c;
}
/* Main section */
#main-section {
  background: #9375ff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  padding: 50px 0 50px 0;
}
.main-row{
  display: flex;
}
.col-1 {
  flex-basis: 50%;
  position: relative;
  margin-left: 50px;
}
.col-1 h1 {
  color: white;
  font-size: 55px;
}
.col-1 p {
  color: white;
  padding-top: 30px;
  font-size: 25px;
}
.col-2 {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.col-2 .image {
  width: 110%;
}
.btn {
  background-color: #ffe101;
  border: none;
  color: #00a69c;
  padding: 5px 30px;
  text-align: center;
  display: inline-block;
  margin-top: 30px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 25px;
}
.btn:hover {
  box-shadow: 0 0 10px white;
}
/* Service section */
#service-section {
  display: flex;
  align-items: center;
  height: auto;
  padding: 50px 0 50px 0;
  justify-content: center;
}
#service-section h2 {
  color: #00a69c;
  font-size: 30px;
  text-align: center;
}
.grid {
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 100px;
  align-items: center;
}
.grid .row {
  background: #9375ff;
  border: none;
  padding: 30px 0 30px 0;
  border-radius: 15px;
  text-align: center;
  width: 250px;
  box-shadow: 2px 2px 6px 0px #807e7e;
  transition: transform 0.3s;
}
.grid .row:hover {
  transform: translateY(5px);
  box-shadow: 2px 2px 26px 0px #686767;
}
.grid .text {
  color: white;
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
}
.grid .circle {
  height: 120px;
  width: 120px;
  background: #fee552;
  border-radius: 50%;
  display: inline-block;
}
.grid .serviceIcon {
  height: 85px;
  width: 85px;
  margin-top: 18px;
  margin-left: 2px;
}
/* Software section */
#software-section {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10% 0 10%;
  height: auto;
}
.img-col ,.text-col{
  flex-basis: 50%;
  padding-bottom: 80px;
}
.img-col img {
  max-width: 60%;
}
.text-col .text {
  margin-left: 100px;
  display: inline;
}
.text-col .text h2{
  color: #00a69c;
  padding-bottom: 10px;
}
.text-col .text p{
  color: #353434;
  padding-bottom: 10px;
}
.text-col .text ul li, ol li{
  color: #353434;
  padding: 5px;
  margin-left: 30px;
}
.part-two{
  display: flex;
  margin-top: 60px;
  margin-bottom: 0%;
}
.part-two img{
  max-width: 60%;
  margin-left: 80px;
}
/* Contact section */
#contact-section{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #0c1753;
  height: auto;
  padding: 4% 0 4% 0;
}
.form-col, .title-col{
  flex-basis: 50%;
}
.title-col h1{
  font-size: 50px;
  color: white;
  margin-left: 200px;
}
form{
  margin: 30px 0;
}
.form-col p{
  color: white;
  font-weight: lighter;
  font-size: 20px;
}
.form-col input{
  width: 60%;
  padding: 15px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: none;
  font-size: 15px;
}
.form-col input[name=full-name], input[name=city]{
  width: 29.5%;
}
.form-col textarea{
  width: 60%;
  padding: 12px 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 15px;
}
.submit{
  width: 60%;
  padding: 10px;
  border-radius: 3px;
  background: #ffe101;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.8s ease;
}
.submit:hover{
  background: #00a69c;
}
/* Footer section */
#footer-section{
  margin-top: 2%;
  height: auto;
}
.footer-row{
  display: flex;
  flex-wrap: wrap;
}
.footer-col{
  width: 25%;
  padding: 0 15px;
}
.footer-col h4{
  color: #00a69c;
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: -7px;
  background: #ffe101;
  height: 2px;
  box-sizing: border-box;
  width: 60px;
}
.footer-col ul li{
  list-style: none;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 5px;
}
.footer-col ul li a{
  color: #0c1753;
  font-size: 15px;
  text-decoration: none;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #00a69c;
  padding-left: 5px;
}
.footer-col .socila-media a{
  display: inline-block;
  height: 30px;
  width: 30px;
  background: #0c1753;
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .socila-media a:hover{
  background: #00a69c;
}
.footer-row p{
  text-align: center;
  width: 100%;
  margin: 30px 0 5px 0;
  color: #0c1753;
  font-size: 15px;
}

/* Media */
@media only screen and (max-width: 768px) {
  nav ul{
    position: absolute;
    top: 59px;
    left: 0;
    background: rgba(255, 255, 255, 0.486);
    width: 100%;
    overflow: hidden;
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin: 10px 50px 10px 0;
  }
  nav ul li a{
    color: #353434;
    cursor: pointer;
  }
  .navBar i{
    display: block;
  }
  #main-section{
    text-align: center;
    height: auto;
  }
  .main-row{
    flex-direction: column-reverse;
  }
  .col-1, .col-2{
    flex-basis: 100%;
  }
  .col-1{
    margin-left: 20px;
  }
  .col-1 h1 {
    font-size: 40px;
  }
  .col-1 p {
    font-size: 20px;
    padding-top: 20px;
  }
  .main-row .col-2 img{
    max-width: 65%;
    margin-left: 180px;
    padding-bottom: 10px;
  }
  .btn {
    margin-top: 20px;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
  }
  .text-col{
    flex-basis: 100%;
    padding-bottom: 50px;
    margin-left: 10%;
  }
  .img-col{
    width: 50%;
    margin-left: 20%;
    flex-basis: 100%;
    padding-bottom: 50px;
  }
  .part-two{
    flex-direction: column-reverse;
  }
  .part-two img{
    max-width: 100%;
    margin-left: 10px;
  }
  form{
    margin-left: 30%;
  }
  .form-col, .title-col{
    flex-basis: 100%;
    margin-bottom: 15px;
  }
  .form-col input[name=full-name], input[name=city]{
    width: 60%;
  }
  .title-col h1{
    text-align: center;
    margin-right: 27%;
  }
  .form-col p{
    margin-left: 27%;
  }
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
  .footer-row p{
    margin-top: -15px;
  }
}

@media only screen and (max-width: 425px) {
  nav ul{
    background: rgb(255, 255, 255);
  }
  .col-1{
    margin-right: 30px;
  }
  .main-row .col-2 img{
    max-width: 80%;
    margin-left: 85px;
    padding-bottom: 10px;
  }
  .grid {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
  }
  .grid .row {
    text-align: center;
  }
  .img-col ,.text-col{
    flex-basis: 100%;
    padding-bottom: 30px;
  }
  .text-col{
    font-size: 15px;
  }
  .form-col, .title-col{
    flex-basis: 100%;
  }
  .title-col h1{
    font-size: 30px;
    margin-left: 26%;
  }
  .form-col p{
    font-size: 20px;
    margin-left: 8%;
  }
  .part-two{
    margin-bottom: 35px;
  }
  .footer-col{
    width: 100%;
  }
  .footer-row p{
    margin-top: -20px;
  }
}
